body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	font-family: Tahoma, Helvetica, sans-serif;
}
.container-padding50 {
	padding-top: 30px;
	margin-left: 10%;
}
.container-textinput {
	width: 80%;
	height: 1em;
	display: inline-block;
	padding: 2%;
	font-size: 16px;
	border-radius: 5px;
}
.container-button {
	width: 7%;
	height: 7%;
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	vertical-align: middle;
}
.container-stats {
	width: 36%;
	padding: 2%;
	border:1px solid green;
	border-radius: 5px;
	box-shadow:2px 2px #154b02;
	text-align: center;
	margin-top: 10%;
	position: fixed;
	right:10%;
}
ul{
	list-style-type: none;
}
li{
	font-weight: bold;
}
#virus{
	margin-top: 10%;
	position: fixed;
	left:10%;
	width: 30%;
}
#name{
	font-size: xx-large;
	color: green;
}
hr{
	color: #006000;
	border-radius: 2px;
	box-shadow: 1px 1px rgb(2, 77, 12);
}
#error{
	color: rgb(211, 70, 70);
}
a{
	text-decoration: none;
	color: red;
}
a:hover{
	font-size: xx-large;
	color: seagreen;
}
